.camera-card {
  max-width: 300px;
}

.header-image {
  background-size: cover;
}

.mat-card-image {
  max-width: 300px;
  max-height: 150px;
}

.camera-img {
  text-align: center;
}

mat-card {
  width: 200px;
}
